{% extends "_base_bigpandamon.html" %}{% load url from future %}{% load pbm_extras %}
{% block title %}PanDA Brokerage Monitor{% endblock %}
{% block page_title %}PanDA Brokerage Monitor{% endblock %}
{% block bl_page_title %}PanDA Brokerage Monitor{% endblock %}
{% block gacode %}UA-44940804-1{% endblock %}
{% block gaweb %}pandawms.org{% endblock %}
{% block subtitle %}PanDA Brokerage
{% if scope %} for <span style="font-weight: bold;">scope</span>={{scope}}
{% if lfn %} <span style="font-weight: bold;">lfn</span>={{lfn}}{% endif %}{% endif %}
{% endblock %}
{% block header-nav-chain-1 %}<a href="#">PanDA Brokerage</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-2 %}{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}
{% block header-nav-chain-6 %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body_mobile %}{% endblock %}
{% block body %}
<a name="sec.toc"></a>
<div><span style="color: navy; font-weight: bold;">Query parameters</span></div>
<br/>
Showing data for {{ndays}} days from {{startdate}} to {{enddate}}.
<br/><br/><br/>

<div><span style="color: navy; font-weight: bold;">Plots listing</span></div>
<div>
<br/>
<p>User selected a site vs. User selected a cloud vs. PanDA Brokerage decision 
	<a href="#sec.plot01">on jobs</a>,
	<a href="#sec.plot02">on jobDefs</a>,
	<a href="#sec.plot03">on jobSets</a>
</p>
<p>User selected a site - Top sites with share &gt; 1 % 
	<a href="#sec.plot04">on jobs</a>,
	<a href="#sec.plot05">on jobDefs</a>,
	<a href="#sec.plot06">on jobSets</a>
</p>
<p>User selected a site - Per cloud 
	<a href="#sec.plot07">on jobs</a>,
	<a href="#sec.plot08">on jobDefs</a>,
	<a href="#sec.plot09">on jobSets</a>
</p>
{% comment %}
<p>User selected a cloud - Top sites with share &gt; 1 % 
	<a href="#sec.plot10">on jobs</a>,
	<a href="#sec.plot11">on jobDefs</a>,
	<a href="#sec.plot12">on jobSets</a>
</p>
{% endcomment %}
<p>User selected a cloud - Per cloud 
	<a href="#sec.plot13">on jobs</a>,
	<a href="#sec.plot14">on jobDefs</a>,
	<a href="#sec.plot15">on jobSets</a>
</p>
</div>

<p>PanDA Brokerage decision - Top sites with share &gt; 1 % 
	<a href="#sec.plot16">on jobs</a>,
	<a href="#sec.plot17">on jobDefs</a>
</p>

<p>PanDA Brokerage decision - Per cloud 
	<a href="#sec.plot18">on jobs</a>,
	<a href="#sec.plot19">on jobDefs</a>
</p>


{% comment %}


<br/><br/><br/>

<div><span style="color: navy; font-weight: bold;">
User selected a site vs. User selected a cloud vs. PanDA Brokerage decision
</span></div><br/>

<br/>
<!-- Plot 1: [User selected a site/User selected a cloud/PanDA Brokerage decision] on Jobs -->
{% pbm_plot_pie data01 title01 'plot01' %}

<br/>
<!-- Plot 2: [User selected a site/User selected a cloud/Panda Brokerage decision] on jobDef -->
{% pbm_plot_pie data02 title02 'plot02' %}

<br/>
<!-- Plot 3: [User selected a site/User selected a cloud/Panda Brokerage decision] on jobSet -->
{% pbm_plot_pie data03 title03 'plot03' %}



<br/><br/><br/>

<div><span style="color: navy; font-weight: bold;">
User selected a site - Top sites with share &gt; 1 %
</span></div><br/>

<br/>
<!-- Plot 4: [User selected a site] on Jobs - Top sites with &gt; 1 % -->
{% pbm_plot_pie data04 title04 'plot04' %}

<br/>
<!-- Plot 5: [User selected a site] on jobDef - Top sites with &gt; 1 % -->
{% pbm_plot_pie data05 title05 'plot05' %}

<br/>
<!-- Plot 6: [User selected a site] on jobSet - Top sites with &gt; 1 % -->
{% pbm_plot_pie data06 title06 'plot06' %}



<br/><br/><br/>

<div><span style="color: navy; font-weight: bold;">
User selected a site - Per cloud
</span></div><br/>

<br/>
<!-- Plot 7: [User selected a site] on Jobs - Per cloud -->
{% pbm_plot_pie data07 title07 'plot07' %}

<br/>
<!-- Plot 8: [User selected a site] on jobDef - Per cloud  -->
{% pbm_plot_pie data08 title08 'plot08' %}

<br/>
<!-- Plot 9: [User selected a site] on jobSet - Per cloud  -->
{% pbm_plot_pie data09 title09 'plot09' %}



<br/><br/><br/>

<div><span style="color: navy; font-weight: bold;">
User selected a cloud - Per cloud
</span></div><br/>

<br/>
<!-- Plot 13: [User selected a cloud] on Jobs - Per cloud -->
{% pbm_plot_pie data13 title13 'plot13' %}

<br/>
<!-- Plot 14: [User selected a cloud] on jobDef - Per cloud  -->
{% pbm_plot_pie data14 title14 'plot14' %}

<br/>
<!-- Plot 15: [User selected a cloud] on jobSet - Per cloud  -->
{% pbm_plot_pie data15 title15 'plot15' %}


<br/><br/><br/>

<div><span style="color: navy; font-weight: bold;">
PanDA Brokerage decision - Top sites with share &gt; 1 %
</span></div><br/>

<br/>
<!-- Plot 16: PanDA Brokerage decision on Jobs - Top sites with &gt; 1 % -->
{% pbm_plot_pie data16 title16 'plot16' %}

<br/>
<!-- Plot 17: PanDA Brokerage decision on jobDef - Top sites with &gt; 1 % -->
{% pbm_plot_pie data17 title17 'plot17' %}
{% endcomment %}



<br/><br/><br/>

<div><span style="color: navy; font-weight: bold;">
PanDA Brokerage decision - Per cloud
</span></div><br/>

<br/>
<!-- Plot 18: PanDA Brokerage decision on Jobs - Per cloud % -->
{% pbm_plot_pie data18 title18 'plot18' %}

<br/>
<!-- Plot 19: PanDA Brokerage decision on jobDef - Per cloud % -->
{% pbm_plot_pie data19 title19 'plot19' %}




{% comment %}
<br/><br/><br/><br/><br/><br/>
<!-- DEBUG: all data -->
{% for x in dataXX %}{{x}}<br/>{% endfor %}

{% endcomment %}


{% endblock %}

{% block extra_css %}{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/highcharts/modules/exporting.js"></script>
{% endblock %}
{% block extra_js_bottombody %}
{% endblock %}

