{% load url from future %}{% load pbm_extras %}

<div id="{{ divid }}" style="min-width: 450px; height: 500px; max-width: 800px; margin: 0 auto"></div>

<script type="text/javascript" charset="utf-8">
$(function () {
	$('#{{ divid }}').highcharts({
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: 1,//null,
			plotShadow: false
		},
		title: {
			text: '{{ title }}'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					format: '<b>{point.name}</b>: {point.percentage:.2f} %',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				},
				showInLegend: true
			}
		},
		series: [{
			type: 'pie',
			name: '{{ title }}',
			data: {{ data|safe }}
		}]
	}, 
	function (chart) { // on complete
		chart.renderer.image('http://bigpanda.cern.ch/static/images/favicon.png', 20, 60, 30, 30)
			.add();
	});
});
</script>
