{% load url from future %}{% load pbm_extras %}

<a href="#sec.toc">[top]</a>&nbsp;
<a name="sec.{{ divid }}" href="{% url 'pbm-index' %}{% if startdate %}?startdate={{ startdate }}{% endif %}{% if enddate %}&amp;enddate={{ enddate }}{% endif %}
#sec.{{ divid }}">[permalink]</a>


<div id="{{ divid }}" style="min-width: 450px; height: 500px; max-width: 800px; margin: 0 auto">
{% if data %}
<table>
<thead>
<tr>
<th>Label</th>
<th>#</th>
</tr>
</thead>
<tbody>
{% for item in data %}
<tr>
<td>{{item.0}}</td>
<td>{{item.1}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</div>


